---
layout: default
title: 首页
---

{% for post in site.posts %}
<article>
	<div class="feature-image">
		{% if(post.cover) %}
		<a href="single.html" ><img src="{{ post.cover }}" style="width:560px;height:300px;"/></a>
		{% endif %}
		<div class="entry-date">{{ post.date | date_to_string }}</div>
	</div>
	<div class="excerpt">
		<a href="{{ site.baseurl }}{{ post.url }}" class="post-heading" >{{ post.title }}</a>
<!-- 		<a href="{{ site.baseurl }}{{ post.url }}#disqus_thread">评论数加载中...</a> -->
		<p>{{ post.summary }}</p>
	</div>
	<i class="tape"></i>
</article>
{% endfor %}