---
layout: default
title: 首页
---


<!-- {% for post in paginator.posts %}

   <!-- here add you post markup -->
  <!--  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
   <p class="author">
    <span class="date">{{post.date}}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %} --> 

<!-- <article>
	<ul class="atc-list">
	{% for post in paginator.posts %}
	<li class="atc-one">
		<a class="comment-num" href="{{ site.baseurl }}{{ post.url }}#disqus_thread">评论数加载中...</a>
		<a class="clearfix" href="{{ site.baseurl }}{{ post.url }}">
			<span class="title">{{ post.title }}</span>
			<span class="date">{{ post.date | date_to_string }}</span>
		</a>
	</li>
	{% endfor %}
	
	</ul>
</article> -->

{% for post in paginator.posts %}
<article>
	<div class="one">
		<div class="feature-image">
			{% if(post.cover) %}
			<a href="{{ site.baseurl }}{{ post.url }}" ><img src="{{ post.cover }}" style="width:560px;height:300px;"/></a>
			{% endif %}
			<div class="entry-date">{{ post.date | date_to_string }}</div>
		</div>
		<div class="excerpt">
			<a href="{{ site.baseurl }}{{ post.url }}" class="post-heading" >{{ post.title }}</a>
			<a class="comment-num" href="{{ site.baseurl }}{{ post.url }}#disqus_thread">评论数加载中...</a>
			<p>{{ post.summary }}</p>
			 
		</div>
		<i class="tape"></i>
	</div>
	
</article>
{% endfor %}
