---
layout: default
title: 坚强的水手
---

{% for post in site.posts %}
<article>
	<div class="feature-image">
		{% if(post.cover) %}
		<a href="single.html" ><img src="{{ post.cover }}" style="width:560px;height:300px;"/></a>
		{% endif %}
		<div class="entry-date">{{ post.date | date_to_string }}</div>
	</div>
	<div class="excerpt">
		<a href="{{ site.baseurl }}{{ post.url }}" class="post-heading" >{{ post.title }}</a>
		<p>
		{{ post.summary }}
		</p>
	</div>
	<!-- <div class="meta">
		<span class="user"><a href="#">发布人</a></span>
		<span class="comments">16 comments</span>
		<span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
	</div>
	 -->
	 <i class="tape"></i>
</article>
{% endfor %}
