{% include head.php %}
<!--head end-->	
	
	<!-- MAIN -->
	<div role="main" id="main" class="blog-list">
		<div class="wrapper cf">
		
			
			
			<!-- posts list -->
			<div id="posts-list" class="cf"> 
				
				{{ content }}
				
				
				{% include paginate.php %}
				<!-- page-navigation -->
				<div class="page-navigation cf" style="display:none;">
					<div class="nav-next"><a href="">Older Entries</a></div>
					<div class="nav-previous"><a href="">Newer Entries</a></div>
				</div>
				<!--ENDS page-navigation -->
				
				
				
		    </div>
			<!-- ENDS posts list -->			
			
			{% include side-bar.php %}
	  
	  </div>
	</div>
	<!-- ENDS MAIN -->

{% include foot.php %}

